extends layouts/base

block config
  - var current = 'index'
  - var hasBackgroundColor = 'has-background-primary'

block title
  title Your New Project

block content
  main
    section.hero.is-fullheight-with-navbar.is-primary
      .hero-body
        .container.has-text-centered
          h1.title Good Luck On Your Project